# Application URLs
BASE_URL=https://www.saucedemo.com
ORANGEHRM_URL=https://opensource-demo.orangehrmlive.com

# SauceDemo Credentials
SAUCEDEMO_USERNAME=standard_user
SAUCEDEMO_PASSWORD=secret_sauce

# OrangeHRM Credentials  
ORANGEHRM_USERNAME=Admin
ORANGEHRM_PASSWORD=admin123

# API Endpoints
DUMMYJSON_API_URL=https://dummyjson.com
JSONPLACEHOLDER_API_URL=https://jsonplaceholder.typicode.com
PETSTORE_API_URL=https://petstore.swagger.io/v2
REQRES_API_URL=https://reqres.in/api

# API Keys (Optional)
REQRES_API_KEY=free_user_3HRV1Pajzar1iDNokKibEXuNI5U

# Test Configuration
HEADLESS=true
SLOW_MO=0
VIDEO=retain-on-failure
SCREENSHOT=only-on-failure
